/* NavigationBar.css */

.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar button {
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    background-color: #b929a8;
  }

  .logo-container {
    flex-grow: 1;
  }
  
  .logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
  